# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea
_pycache_
.git


# Entorno virtual
venv/

# Archivos de caché de Python
*.pyc
*.pyo
*.pyd


# Archivos de bases de datos locales
*.sqlite3
*.db

# Archivos generados por herramientas
*.egg-info/
dist/
build/